<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @format.name %>
</p>

<p>
  <strong>Usage:</strong>
  <%= @format.usage %>
</p>

<p>
  <strong>Compression:</strong>
  <%= @format.compression %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @format.resolution %>
</p>

<%= link_to 'Edit', edit_format_path(@format) %> |
<%= link_to 'Back', formats_path %>
